In [1]:
import numpy as np
import pandas as pd
import sklearn 
import matplotlib as mpl
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("C:/Users/sepehr/Desktop/Ai/E-Commerce/Ecommerce_Delivery_Analytics_New.csv")

In [3]:
import pandas as pd

df_1 = pd.read_csv("C:/Users/sepehr/Desktop/Ai/E-Commerce/Ecommerce_Delivery_Analytics_New.csv")

df_1['Order Date & Time'] = df_1['Order Date & Time'].apply(lambda x: int(x.split(':')[0]))

df_1

,Order ID,Customer ID,Platform,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested
0,ORD000001,CUST2824,JioMart,19,30,Fruits & Vegetables,382,"Fast delivery, great service!",5,No,No
1,ORD000002,CUST1409,Blinkit,54,16,Dairy,279,Quick and reliable!,5,No,No
2,ORD000003,CUST5506,JioMart,21,25,Beverages,599,Items missing from order.,2,No,Yes
3,ORD000004,CUST5012,JioMart,19,42,Beverages,946,Items missing from order.,2,Yes,Yes
4,ORD000005,CUST4657,Blinkit,49,30,Beverages,334,"Fast delivery, great service!",5,No,No
...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST5324,JioMart,49,24,Dairy,289,Packaging could be better.,3,No,No
99996,ORD099997,CUST1677,JioMart,18,19,Snacks,322,Good quality products.,4,No,No
99997,ORD099998,CUST8198,JioMart,27,41,Dairy,135,"Fast delivery, great service!",5,Yes,No
99998,ORD099999,CUST9975,JioMart,14,31,Grocery,973,Quick and reliable!,5,No,No
99999,ORD100000,CUST3748,JioMart,41,34,Fruits & Vegetables,453,Packaging could be better.,3,No,No

In [4]:
df

,Order ID,Customer ID,Platform,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested
0,ORD000001,CUST2824,JioMart,19:29.5,30,Fruits & Vegetables,382,"Fast delivery, great service!",5,No,No
1,ORD000002,CUST1409,Blinkit,54:29.5,16,Dairy,279,Quick and reliable!,5,No,No
2,ORD000003,CUST5506,JioMart,21:29.5,25,Beverages,599,Items missing from order.,2,No,Yes
3,ORD000004,CUST5012,JioMart,19:29.5,42,Beverages,946,Items missing from order.,2,Yes,Yes
4,ORD000005,CUST4657,Blinkit,49:29.5,30,Beverages,334,"Fast delivery, great service!",5,No,No
...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST5324,JioMart,49:29.5,24,Dairy,289,Packaging could be better.,3,No,No
99996,ORD099997,CUST1677,JioMart,18:29.5,19,Snacks,322,Good quality products.,4,No,No
99997,ORD099998,CUST8198,JioMart,27:29.5,41,Dairy,135,"Fast delivery, great service!",5,Yes,No
99998,ORD099999,CUST9975,JioMart,14:29.5,31,Grocery,973,Quick and reliable!,5,No,No
99999,ORD100000,CUST3748,JioMart,41:29.5,34,Fruits & Vegetables,453,Packaging could be better.,3,No,No

In [5]:
df.Platform

0        JioMart
1        Blinkit
2        JioMart
3        JioMart
4        Blinkit
          ...
99995    JioMart
99996    JioMart
99997    JioMart
99998    JioMart
99999    JioMart
Name: Platform, Length: 100000, dtype: object

In [6]:
print(df['Platform'])

0        JioMart
1        Blinkit
2        JioMart
3        JioMart
4        Blinkit
          ...
99995    JioMart
99996    JioMart
99997    JioMart
99998    JioMart
99999    JioMart
Name: Platform, Length: 100000, dtype: object

In [7]:
df1 = pd.DataFrame(df_1)
df_2 = pd.get_dummies(df_1,columns=['Delivery Delay','Refund Requested'],dtype =int,drop_first=True)
df_2

,Order ID,Customer ID,Platform,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay_Yes,Refund Requested_Yes
0,ORD000001,CUST2824,JioMart,19,30,Fruits & Vegetables,382,"Fast delivery, great service!",5,0,0
1,ORD000002,CUST1409,Blinkit,54,16,Dairy,279,Quick and reliable!,5,0,0
2,ORD000003,CUST5506,JioMart,21,25,Beverages,599,Items missing from order.,2,0,1
3,ORD000004,CUST5012,JioMart,19,42,Beverages,946,Items missing from order.,2,1,1
4,ORD000005,CUST4657,Blinkit,49,30,Beverages,334,"Fast delivery, great service!",5,0,0
...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST5324,JioMart,49,24,Dairy,289,Packaging could be better.,3,0,0
99996,ORD099997,CUST1677,JioMart,18,19,Snacks,322,Good quality products.,4,0,0
99997,ORD099998,CUST8198,JioMart,27,41,Dairy,135,"Fast delivery, great service!",5,1,0
99998,ORD099999,CUST9975,JioMart,14,31,Grocery,973,Quick and reliable!,5,0,0
99999,ORD100000,CUST3748,JioMart,41,34,Fruits & Vegetables,453,Packaging could be better.,3,0,0

In [8]:
le =LabelEncoder()
df_4 = df_2
df_4['Product Category']=le.fit_transform(df_4['Product Category'])
df_4['Customer Feedback']=le.fit_transform(df_4['Customer Feedback'])
df_4['Platform']=le.fit_transform(df_4['Platform'])
df_4

,Order ID,Customer ID,Platform,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay_Yes,Refund Requested_Yes
0,ORD000001,CUST2824,1,19,30,2,382,3,5,0,0
1,ORD000002,CUST1409,0,54,16,1,279,9,5,0,0
2,ORD000003,CUST5506,1,21,25,0,599,6,2,0,1
3,ORD000004,CUST5012,1,19,42,0,946,6,2,1,1
4,ORD000005,CUST4657,0,49,30,0,334,3,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST5324,1,49,24,1,289,8,3,0,0
99996,ORD099997,CUST1677,1,18,19,5,322,4,4,0,0
99997,ORD099998,CUST8198,1,27,41,1,135,3,5,1,0
99998,ORD099999,CUST9975,1,14,31,3,973,9,5,0,0
99999,ORD100000,CUST3748,1,41,34,2,453,8,3,0,0

In [9]:
dummies = pd.get_dummies(df.Platform,dtype=int)
dummies1 = pd.get_dummies(df['Product Category'],dtype=int)
dummies1

       Beverages  Dairy  Fruits & Vegetables  Grocery  Personal Care  Snacks
0              0      0                    1        0              0       0
1              0      1                    0        0              0       0
2              1      0                    0        0              0       0
3              1      0                    0        0              0       0
4              1      0                    0        0              0       0
...          ...    ...                  ...      ...            ...     ...
99995          0      1                    0        0              0       0
99996          0      0                    0        0              0       1
99997          0      1                    0        0              0       0
99998          0      0                    0        1              0       0
99999          0      0                    1        0              0       0

[100000 rows x 6 columns]

In [19]:
series1 = pd.Series(df['Platform'])
series2 = pd.Series(df_4['Platform'])
series3 = pd.Series(df['Customer Feedback'])
series4 = pd.Series(df_4['Customer Feedback'])
display(pd.concat([series1, series2,series3,series4],axis = 1)[200:250])

       Platform  Customer Feedback
0             1                  3
1             0                  9
2             1                  6
3             1                  6
4             0                  3
...         ...                ...
99995         1                  8
99996         1                  4
99997         1                  3
99998         1                  9
99999         1                  8

[100000 rows x 2 columns]

In [11]:
df_7 = df_4.drop(['Order ID','Customer ID','Platform'],axis= 1)

In [12]:
series6 = pd.Series(dummies['Blinkit'])
series7 = pd.Series(dummies['JioMart'])
series8 = pd.Series(dummies['Swiggy Instamart'])
series9 = pd.Series(dummies1['Beverages'])
series10 = pd.Series(dummies1['Dairy'])
series11 = pd.Series(dummies1['Fruits & Vegetables'])
series12 = pd.Series(dummies1['Grocery'])
series13 = pd.Series(dummies1['Personal Care'])
series14 = pd.Series(dummies1['Snacks'])

Df7= pd.concat([df_7,series6, series7,series8,series9,series10,series11,series12,series13,series14],axis = 1)

In [13]:
display(Df7)

,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay_Yes,Refund Requested_Yes,Blinkit,JioMart,Swiggy Instamart,Beverages,Dairy,Fruits & Vegetables,Grocery,Personal Care,Snacks
0,19,30,2,382,3,5,0,0,0,1,0,0,0,1,0,0,0
1,54,16,1,279,9,5,0,0,1,0,0,0,1,0,0,0,0
2,21,25,0,599,6,2,0,1,0,1,0,1,0,0,0,0,0
3,19,42,0,946,6,2,1,1,0,1,0,1,0,0,0,0,0
4,49,30,0,334,3,5,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,49,24,1,289,8,3,0,0,0,1,0,0,1,0,0,0,0
99996,18,19,5,322,4,4,0,0,0,1,0,0,0,0,0,0,1
99997,27,41,1,135,3,5,1,0,0,1,0,0,1,0,0,0,0
99998,14,31,3,973,9,5,0,0,0,1,0,0,0,0,1,0,0
99999,41,34,2,453,8,3,0,0,0,1,0,0,0,1,0,0,0

In [21]:
X = Df7.drop('Order Value (INR)',axis='columns')
X.head()

,Order Date & Time,Delivery Time (Minutes),Product Category,Customer Feedback,Service Rating,Delivery Delay_Yes,Refund Requested_Yes,Blinkit,JioMart,Swiggy Instamart,Beverages,Dairy,Fruits & Vegetables,Grocery,Personal Care,Snacks
0,19,30,2,3,5,0,0,0,1,0,0,0,1,0,0,0
1,54,16,1,9,5,0,0,1,0,0,0,1,0,0,0,0
2,21,25,0,6,2,0,1,0,1,0,1,0,0,0,0,0
3,19,42,0,6,2,1,1,0,1,0,1,0,0,0,0,0
4,49,30,0,3,5,0,0,1,0,0,1,0,0,0,0,0

In [22]:
y = Df7['Order Value (INR)']
y.head()

0    382
1    279
2    599
3    946
4    334
Name: Order Value (INR), dtype: int64

In [23]:
X_train ,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state = 2)

In [24]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.4260377187485771